<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Liner Notes</h1>

    <form action="/api/records" method="POST">
        <input type="text" name="Album" placeholder="Album" />
        <input type="text" name="Band" placeholder="Artist" />
        <button type="submit">Submit</button>
    </form>

    <ul class="'records">
    <% for(var i = 0; i < records.length; i++) {%>
        <li>
            <span><%= records[i].Album %></span> - 
            <span><%= records[i].Band %></span> 
            <span class="like" data-record="<%= records[i]['_id'] %>">&#128077</span>
            <span class="dislike" data-record="<%= records[i]['_id'] %>">&#128078</span>
            <span><%= records[i].likes %></span> 
            <span class="delete" data-record="<%= records[i]['_id'] %>">&#128465</span>
        </li>
    <% } %>
    </ul>
    <script src="/main.js"></script>
</body>
</html>